._7_search_engine {
    margin: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

._7_head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

._7_head > img {
    width: 30px;
    height: 30px;
    border: solid 1px blue;
    border-radius: 5px;
}

._7_head > img:active {
    width: 25px;
    height: 25px;
    margin: 2.5px;
    border-radius: 3.5px;
}

._7_head > input {
    width: 800px;
    border-radius: 5px;
    padding-left: 5px;
}

._7_body {
    position: absolute;
    top: 228px;
    left: 517px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

._7_body > table {
    border-collapse: collapse;
}
._7_body > table > thead > tr > td {
    background-color: white;
    border: solid 1px black;
    width: 807px;
    height: 30px;
}
._7_body > table > thead > tr > td:hover {
    cursor: pointer;
    background-color: rgb(58, 63, 222);
    font-weight: bolder;
}

.work_class_hidden {
    display: none;
}

._7_footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 600px;
    height: 200px;
    margin: 20px;
    margin-left: 85px;
    padding: 10px;
    border: solid 2px black;
}

._7_footer > div:nth-child(1) {
    border: groove 4px blue;
    width: 200px;
    height: 190px;
}

._7_footer > div:nth-child(1) > svg {
    width: 200px;
    height: 190px;
}

._7_down_load {
    background-color: greenyellow;
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
}

._7_down_load:hover {
    cursor: pointer;
}

._7_down_load:active {
    background-color: greenyellow;
    padding: 10px;
    font-size: 20px;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 30px;
}

.new_table {
    background-color: white;
    border: solid 1px black;
    width: 807px;
    height: 30px;
}
.new_table:hover {
    cursor: pointer;
    background-color: rgb(58, 63, 222);
    font-weight: bolder;
}

._7_new_table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 82px;
}

._7_new_table > table > thead > tr > td {
    border: solid 2px black;
    width: 800px;
}

/* Модальное окно загрузки */
#_7_modal_table {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.2;
    border: solid 5px blue;
    width: 100%;
    height: 100%;
}

#_7_modal_table > img {
    width: 50px;
    height: 50px;
    margin: 20px;
}