._8_audio {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

._8_audio_heder {
    width: 300px;
    height: 600px;
    padding: 5px;
    border: solid 4px red;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

._8_audio_heder > img {
    width: 300px;
    height: 300px;
}

#_8_name_audio {
    height: 25px;
    margin-top: 5px;
    font-size: 20px;
}

._8_controls_audio {
    padding-top: 5px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

._8_controls_audio > img, ._8_controls_audio > div > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

._8_controls_audio > img:hover, ._8_controls_audio > div > img:hover {
    cursor: pointer;
}

._8_controls_audio > img:active, ._8_controls_audio > div > img:active {
    width: 40px;
    height: 40px;
    margin: 5px;
}

._8_controls_audio > img:nth-child(1) {
    transform: rotate(180deg);
}

#_8_load_audio_ {
    width: 300px;
    height: 20px;
    border: solid 2px black;
}

#_8_load_audio_:hover {
    cursor: pointer;
}

#_8_load_blue_id {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(19, 169, 223);
    width: 0px;
    height: 100%;
    z-index: 2;
}

#_8_load_red_id {
    position: relative;
    top: -20px;
    left: 0;
    background-color: red;
    width: 0px;
    height: 100%;
    z-index: 3;
}

._8_audio {
    width: 100%;
}

._8_audio > audio {
    width: 300px;
}

._8_sound {
    margin-top: 15px;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

._8_sound > div > img {
    width: 30px;
    height: 30px;
}

._8_sound > div:nth-child(2) {
    height: 10px;
    width: 200px;
    border: solid 2px blue;
    border-radius: 5px;
}

#load_sound_id {
    position: relative;
    top: 0;
    left: 0;
    height: 10px;
    width: 100px;
    background-color: blue;
}

#load_sound_parent_id:hover {
    cursor: pointer;
}

._8_audio_body {
    border: solid 4px red;
    border-radius: 25px;
    width: 100%;
    padding: 10px;
}

._8_audio_body > table {
    border-collapse: collapse;
}

#_8_table_create > tr > th, #_8_table_create > tr > td {
    border: solid 2px black;
}

#_8_table_create > tr > th:nth-child(1) {width: 20px;}
#_8_table_create > tr > th:nth-child(2) {width: 100px;}
#_8_table_create > tr > th:nth-child(3) {width: 80px;}
#_8_table_create > tr > th:nth-child(4) {width: 80px;}
#_8_table_create > tr > th:nth-child(5) {width: 80px;}
#_8_table_create > tr > th:nth-child(6) {width: 200px;}

#_8_table_create > tr > td{
    font-size: 15px;
    text-align: center;
}

#_8_table_create > tr:hover {
    cursor: pointer;
    background-color: aqua;
}

/* Модальное окно загрузки */
#_8_modal_table {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.2;
    border: solid 5px blue;
    width: 100%;
    height: 100%;
}

#_8_modal_table > img {
    width: 50px;
    height: 50px;
    margin: 20px;
}