/*===========================================================================================================*/
/*                                        Стилизация обычных блоков                                          */
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

._9_body_cl {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

._9_body_cl > div:nth-child(1) {
    border: solid 2px black ;
    width: 600px;
    height: 337.5px;
}

#_9_scroll_video_id {
    border: solid 2px rgb(116, 113, 113) ;
    overflow-y: scroll;
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
}

._9_load_file_cl {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
}

._9_load_file_cl:hover {
    cursor: pointer;
}

._9_load_file_cl > div:nth-child(1) {
    border: solid 2px black;
    border-radius: 10px;
    overflow: hidden;
    width: 150px;
    height: 84px;
}

._9_load_file_cl > div:nth-child(2) {
    border: solid 2px black;
    border-radius: 10px;
    overflow: hidden;
    width: 210px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*===========================================================================================================*/
/*                                    Стилизация функциональных блоков                                       */
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

/* контроллер видеоплеера */
#_9_controller_video_id {
    position: relative;
    top: -37px;
    width: 597px;
    height: 30px;
    border: solid 2px blue;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#_9_controller_video_id>div:nth-child(1) {
    grid-row: 5%;
}
#_9_controller_video_id>div:nth-child(2) {
    grid-row: 90%;
}
#_9_controller_video_id>div:nth-child(3) {
    grid-row: 5%;
}

/* стилизация кнопок старта и паузы видео */
#_9_controller_video_id>div>img {
    width: 20px;
    height: 20px;
}

#_9_controller_video_id>div>img:hover {
    cursor: pointer;
}

#_9_controller_video_id>div>img:active {
    margin: 2.5px;
    width: 15px;
    height: 15px;
}

/* стилизация блока загрузки видео */
#_9_load_video_id {
    width: 80%;
    height: 10px;
    border: solid 2px black;
}

#_9_load_video_id:hover {
    cursor: pointer;
}

/* стилизация самой загрузки видео */
#_9_load_video_work_id {
    width: 0;
    height: 10px;
    background-color: red;
}

/* стилизация основного видео */
#_9_work_video_id:hover {
    cursor: pointer;
}

/* Модальное окно загрузки */
#_9_modal_table {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.2;
    border: solid 5px blue;
    width: 100%;
    height: 100%;
}

#_9_modal_table > img {
    width: 50px;
    height: 50px;
    margin: 20px;
}